<html>
	<head>
		<meta charset = "utf-8">
		<title>Squirrel Kingdom</title>
	</head>
	<body>
		<div id="container"></div>
		<script src="http://code.highcharts.com/highcharts.src.js"></script>
		<script>
			Highcharts.chart('container',{
				chart:{
					type:'bar'
				},
				title:{
					text:'Central Park Squirrel Data Summary'
				},
				subtitle:{
					text:'Total: {{total_squirrels}}'
				},
				xAxis:{
					catagories:['color','age','location','attitude','activity']
					title:{
						null
					}
				},
				yAxis:{
					min:0,
					title:{
						text:population',
						align:'hign'
					},
					labels:{
						overflow:'justify'
					}
				},
				plotOptions:{
					bar:{
						dataLabels:{
							enabled:true
						}
					},
					series:{
						stacking:'nomal'
					}
				},
				legend:{
					layout:'vectical',
					align:'right',
					verticalAlign:'top',
					x:-40,
					y:100,
					floating:true,
					borderWidth:1,
					backgroundColor:(
						(Highcharts.theme && Highcharts.theme.legendBackgroundColor)
						||'#FFFFFF'),
					shadow:true
				},
				credits:{
					enabled:false
				},
				series:[
				{
					name:'gray',
					data:[300] #{{gray_count}}]
				},
				{
					name:'black',
					data:[267] #{{black_count}}]
				},
				{
					name:'cinnamon',
					data:[159] #{{cinnamon_count}}]
				{
					name:'adult',
					data:[0,245] #{{adult_count}}]
				},
				{
					name:'juvenile',
					data:[0,300] #{{juvenile_count}}]
				},
				{
					name:'ground plane',
					data:[0,0,256] #{{ground_plane_count}}]
				},
				{
					name:'above ground',
					data:[0,0,244] #{{above_ground_count}}]
				},
				{
					name:'approaches',
					data:[0,0,0,123] #{{approaches_count}}]
				},
				{
					name:'indifferent',
					data:[0,0,0,234] #{{indifferent_count}}]
				},
				{
					name:'runs_from',
					data:[0,0,0,156] #{{runs_from_count}}]
				},
				{
					name:'running',
					data:[0,0,0,0,234] #{{running_true_count}}]
				},
				{
					name:'chasing',
					data:[0,0,0,0,123] #{{chasing_true_count}}]
				},
				{
					name:'climbing',
					data:[0,0,0,0,234] #{{climbing_true_count}}]
				},
				{
					name:'eating',
					data:[0,0,0,0,256] #{{eating_true_count}}]
				},
				{
					name:'foraging',
					data:[0,0,0,0,156] #{{foraging_true_count}}]
				}]
		};
		</script>
	</body>
</html>
