{% block content%}
<html>
	<head>
		<meta charset = "utf-8">
		<title>Squirrel Kingdom</title>
	</head>
	<body>
		<div id="container"></div>
		<script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
		<script>
			var options = {
				chart:{
					type:'bar'
				},
				title:{
					text:'Central Park Squirrel Data Summary'
				},
				subtitle:{
					text:'Total: {{total_squirrels}}'
				},
				xAxis:{
					catagories:['color','age','location','attitude','activity']
					title:{
						null
					}
				},
				yAxis:{
					min:0,
					title:{
						text:population',
						align:'hign'
					},
					labels:{
						overflow:'justify'
					}
				},
				plotOptions:{
					bar:{
						dataLabels:{
							enabled:true
						}
					},
					series:{
						stacking:'nomal'
					}
				},
				legend:{
					layout:'vectical',
					align:'right',
					verticalAlign:'top',
					x:-40,
					y:100,
					floating:true,
					borderWidth:1,
					backgroundColor:(
						(Highcharts.theme && Highcharts.theme.legendBackgroundColor)
						||'#FFFFFF'),
					shadow:true
				},
				credits:{
					enabled:false
				},
				series:[
				{
					name:'gray',
					data:[{{gray}}]
				},
				{
					name:'black',
					data:[{{black}}]
				},
				{
					name:'cinnamon',
					data:[{{cinnamon}}]
				{
					name:'adult',
					data:[0,{{adult}}]
				},
				{
					name:'juvenile',
					data:[0,{{juvenile}}]
				},
				{
					name:'ground plane',
					data:[0,0,{{ground_plane}}]
				},
				{
					name:'above ground',
					data:[0,0,{{above_ground}}]
				},
				{
					name:'approaches',
					data:[0,0,0,{{approaches}}]
				},
				{
					name:'indifferent',
					data:[0,0,0,{{indifferent}}]
				},
				{
					name:'runs_from',
					data:[0,0,0,{{runs_from}}]
				},
				{
					name:'running',
					data:[0,0,0,0,{{running}}]
				},
				{
					name:'chasing',
					data:[0,0,0,0,{{chasing}}]
				},
				{
					name:'climbing',
					data:[0,0,0,0,{{climbing}}]
				},
				{
					name:'eating',
					data:[0,0,0,0,{{eating}}]
				},
				{
					name:'foraging',
					data:[0,0,0,0,{{foraging}}]
				},
				{
					name:'other activities',
					data:[0,0,0,0,{{activities}}]
				}]
		};
		var chart = Highcharts.chart('container',options);
		</script>
	</body>
</html>
{% endblock %}
