<html>
<head>
  <meta charset="utf-8">
  <title>Squirrel General Stats</title>
</head>
<body>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
	    text: 'Squirrel Activity Status by Shift'
        },
        xAxis: {
	    categories: ['1','2','3','4','5']
        },
	yAxis: {
	    title:{
		text:'population'
		align:'high'
	    },
	},
        series: [{
	    name: 'Running',
	    data: [231],
        },{
	    name: 'Not running',
	    data: [123],
	},{
	    name: 'Chasing',
	    data: [0,233],
	},{
	    name: 'Not chasing',
	    data: [0,345],
	},{
            name: 'Climbing',
            data: [0,0,334],
        },{
            name: 'Not climbing',
            data: [0,0,23],
	},{
            name: 'Eating',
            data: [0,0,0,432],
	},{
            name: 'Not eating',
            data: [0,0,0,442],
        },{
	    name: 'Foraging',
            data: [0,0,0,0,222],
        },{
            name: 'Not foraging',
	    data: [0,0,0,0,544]
	}]
    });
  </script>
</body>
</html>
